@use 'vuetify/settings';
@use 'variables';
#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    main {
        margin: auto 0;
    }
}

.v-selection-control-group {
    .v-selection-control {
        &--disabled {
            opacity: 1;
            .v-selection-control__wrapper {
                opacity: var(--v-disabled-opacity);
            }
        }
    }
}
.v-label {
    opacity: 1;
}
header,
footer {
    padding: 15px;
    min-height: variables.$header-height;
}
header {
    border-bottom: 1px solid map-get(settings.$blue, 'darken-1');
}
footer {
    border-top: 1px solid map-get(settings.$blue, 'darken-1');
}
